/* First Section */

.ComfortGPT .first_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ComfortGPT .first_section .heading_and_links h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.ComfortGPT .first_section .heading_and_links h3 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

.ComfortGPT .first_section .heading_and_links .Github_stuff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.ComfortGPT .first_section .heading_and_links .Github_stuff .GitHub_Code,
.ComfortGPT .first_section .heading_and_links .Github_stuff .GitHub_Bugs {
    display: flex;
    flex-direction: column;
}

.ComfortGPT .first_section .heading_and_links .Github_stuff .icon {
    font-size: 3em;
    color: black;
}

.ComfortGPT .first_section .heading_and_links .Github_stuff .icon:hover {
    color: rgb(45, 99, 83);
}

.ComfortGPT .first_section .heading_and_links .Github_stuff .text {
    font-size: 1rem;
    color: rgb(45, 99, 83);
}

.ComfortGPT .first_section .heading_and_links .Github_stuff .text:hover {
    background-color: rgb(45, 99, 83);
    color: white;
    border-radius: 0.25rem;
}

.ComfortGPT .first_section .contacts h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.ComfortGPT .first_section .contacts .Main .profile_image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}

.ComfortGPT .first_section .contacts .Main .profile_image img:hover {
    width: 170px;
    height: 170px;
    padding: 0px;
}

.ComfortGPT .first_section .contacts .Supports .profile_image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}

.ComfortGPT .first_section .contacts .Supports .profile_image img:hover {
    width: 120px;
    height: 120px;
    padding: 0px;
}

.ComfortGPT .first_section .contacts .Main {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.ComfortGPT .first_section .contacts .Supports {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ComfortGPT .first_section .contacts .Main .each_profile,
.ComfortGPT .first_section .contacts .Supports .each_profile {
    width: 200px;
}

.ComfortGPT .first_section .contacts .profile_data a {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.ComfortGPT .first_section .contacts .profile_data h5 {
    color: rgb(45, 99, 83);
    font-size: 1rem;
}

.ComfortGPT .first_section .contacts .profile_data h5:hover {
    color: white;
    background-color: rgb(45, 99, 83);
    border-radius: 0.25rem;
}

/* Second Section */

.ComfortGPT .second_section {
    display: flex;
}

.ComfortGPT .second_section .inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 1rem;
    justify-content: center;
}

.ComfortGPT .second_section .inputs .table_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 1rem 2rem;
    margin: 0rem 2.5rem;
    padding-bottom: 2rem;
    font-size: 1rem;
}

.ComfortGPT .second_section .inputs .table_inputs input {
    font-size: 1rem;
    width: 100px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
}

.ComfortGPT .second_section .inputs .CalculateButton {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.ComfortGPT .second_section .inputs .additional_buttons {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    margin: 0 6rem;
}

.ComfortGPT .second_section .inputs .additional_buttons>* {
    flex: 1;
    font-size: 12px;
    text-align: center;
    min-width: 110px;
}

.ComfortGPT .second_section .outputs {
    flex: 2;
    background-color: white;
    text-align: center;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ComfortGPT .tooltip {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 8px;
    pointer-events: none;
}

.ComfortGPT .output {
    display: none;
    justify-content: center;
    margin-top: 2rem;
    gap: 10rem;
}

.loading_thing {
    font-size: 5rem;
}


.ComfortGPT .output h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.ComfortGPT .output p {
    font-size: 1rem;
    margin-bottom: 1rem;
    ;
}

.ComfortGPT #DownloadCSV {
    display: none;
    justify-content: center;
}

/* Third Section */

.ComfortGPT .third_section {
    display: flex;
    gap: 2rem;
}

.ComfortGPT .third_section .guidelines_text {
    flex: 1;
}

.ComfortGPT .third_section .guidelines_text h3 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.ComfortGPT .third_section .guidelines_text ul {
    padding-left: 2rem;
}

.ComfortGPT .third_section .guidelines_text li {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    line-height: 1.5;
    text-align: justify;
}

.ComfortGPT .third_section .guidelines_image {
    flex: 2;
}

.ComfortGPT .third_section .guidelines_image img {
    width: 100%;
    border: 2px solid black;
    height: auto;
}

@keyframes shaking {

    10%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(10px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-10px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(10px, 0, 0);
    }
}

.ComfortGPT .disabled {
    pointer-events: none;
    opacity: 0.5;
}

.ComfortGPT .red-button {
    padding: 10px;
    border: 3px solid red;
    border-radius: 0.5rem;
    color: red;
    font-weight: bold;
}

.ComfortGPT .green-button {
    padding: 10px;
    border: 3px solid rgb(45, 99, 83);
    border-radius: 0.5rem;
    color: rgb(45, 99, 83);
    font-weight: bold;
}

.ComfortGPT .green-button:hover {
    padding: 10px;
    border: 3px solid rgb(45, 99, 83);
    background-color: rgb(45, 99, 83);
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
}