.carouselImage {
    height: calc(0.3 * 300px);
    margin-bottom: calc(0.3 * 1rem);
    padding: calc(0.3 * 1rem);
}

.carouselDate {
    padding: 0 calc(0.3 * 1rem);
    font-size: smaller;
}

.carouselLink {
    padding: 0 calc(0.3 * 1rem);
}

.carouselTitle {
    font-size: calc(0.3 * 1.5rem);
    padding: calc(0.3 * 0.25rem) calc(0.3 * 1rem);
}

.btn {
    width: calc(0.3 * 40px);
    height: calc(0.3 * 40px);
    font-size: calc(0.3 * 1.5rem);
}

.btn-left {
    left: calc(0.3 * -10px);
}

.btn-right {
    right: calc(0.3 * -10px);
}

@media screen and (max-width: 1025px) {}

@media screen and (max-width: 769px) {}

@media screen and (max-width: 426px) {}