/* First Section */

.Home .first_section {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.Home .first_section video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.Home .first_section2 {
    text-align: center;
    font-size: 1.25rem;
    padding-top: 3.3vmax;
}

/* Second Section */

.Home .second_section_Title {
    text-align: center;
}

.Home .second_section_Title h2 {
    font-size: 2rem;
    padding-bottom: 1.65vmax
}

/*.Home .second_section_Title h4 {
    font-size: 1.5rem;
    padding: 0px 25px 3.3vmax 25px;
    font-weight: 500;
}*/

.Home .Each_Section {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.Home .Each_Section .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Home .Each_Section .grid-item {
    width: 100%;
}

.Home .Each_Section .ResearchImage {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.Home .Each_Section .ResearchImage img {
    position: absolute;
    object-fit: cover;
    object-position: left center;
    width: 100%;
    height: 100%;
}

.Home .Each_Section .ResearchText {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: auto;
    margin-left: -30%;
    width: 130%;
    z-index: 1;
    padding: 7.5rem;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: larger;
}

.Home .Each_Section .ResearchText p,
.Home .Each_Section .ResearchText_right p {
    margin-top: 0.5rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

.Home .Each_Section .ResearchText_right {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: auto;
    margin-right: -30%;
    width: 130%;
    z-index: 1;
    padding: 7.5rem;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: larger;
}

.Home .HomeButtons {
    justify-content: center;
    display: flex;
}

/* Third Section */

.Home .third_section {
    display: flex;
    justify-content: space-between;
    gap: 15rem;
}

.meet_our_team,
.publications {
    flex: 1;
    /* Make them take equal widths */
    display: flex;
    /* Make these flex containers too */
    flex-direction: column;
    /* Stack children vertically */
}

.meet_our_team_text,
.publications_text {
    flex-grow: 1;
    /* This will ensure the text container takes up all available space, pushing the button to the bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* This will ensure maximum space between the text and the button */
}


.Home .meet_our_team_image,
.Home .publications_image {
    color: rgb(45, 99, 83);
    font-size: 125px;
    text-align: center;
    margin-bottom: 1rem;
}

.Home .meet_our_team_text,
.Home .publications_text {
    margin: auto;
    z-index: 2;
    padding: 7%;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    color: black;
}


.Home .meet_our_team h2,
.Home .publications_text h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.Home .meet_our_team #meet_our_team_text_left,
.Home .publications_text #publications_text_right {
    text-align: center;
    text-justify: inter-word;
    line-height: 1.5;
    font-size: larger;
    padding-bottom: 1rem;
}

/* Fourth Section */
.Home .fourth_section_title {
    font-size: 2rem;
    padding-bottom: 1.65vmax;
    text-align: center;
}

.Home #fourth_section_button {
    margin-top: 2rem;
}

/* Fifth Section */

.Home .fifth_section_Title {
    text-align: center;
}

.Home .fifth_section_Title h2 {
    font-size: 2rem;
    padding-bottom: 1.65vmax;
    margin-bottom: 1rem;
}

.Home .fifth_section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Home .fifth_section_texts {
    display: flex;
    justify-content: space-between;
    gap: 15rem;
}

.Home .fifth_section_text_left,
.Home .fifth_section_text_right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
    padding: 3.5%;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    color: black;
}

.Home .fifth_section_text_left #text_left,
.Home .fifth_section_text_right #text_right {
    text-align: center;
    text-justify: inter-word;
    line-height: 1.5;
    font-size: larger;
    padding-bottom: 1rem;
}

@media screen and (max-width: 1025px) {
    /* First Section */

    .Home .first_section2 {
        font-size: calc(0.7 * 1.25rem);
        padding-top: calc(0.7 * 3.3vmax);
    }

    /* Second Section */

    .Home .second_section_Title h2 {
        font-size: calc(0.7 * 2rem);
        padding-bottom: calc(0.7 * 1.65vma)x
    }

    /*.Home .second_section_Title h4 {
        font-size: calc(0.7 * 1.5rem);
        padding: 0px calc(0.7 * 25px) calc(0.7 * 3.3vmax) calc(0.7 * 25px);
    }*/

    .Home .Each_Section {
        padding-bottom: calc(0.7 * 2rem);
    }

    .Home .Each_Section .grid-container {
        grid-template-columns: calc(0.7 * 1fr) calc(0.7 * 1fr);
    }

    .Home .Each_Section .ResearchText {
        padding: calc(0.7 * 7.5rem);
        box-shadow: -1px 1px calc(0.7 * 20px) calc(0.7 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.7 * 10px);
        font-size: 0.7rem;
    }

    .Home .Each_Section .ResearchText p,
    .Home .Each_Section .ResearchText_right p {
        margin-top: calc(0.7 * 0.5rem);
    }

    .Home .Each_Section .ResearchText_right {
        padding: calc(0.7 * 7.5rem);
        box-shadow: -1px 1px calc(0.7 * 20px) calc(0.7 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.7 * 10px);
        font-size: 0.7rem;
    }

    /* Third Section */

    .Home .third_section {
        gap: calc(0.7 * 15rem);
    }

    .Home .meet_our_team_image,
    .Home .publications_image {
        font-size: calc(0.7 * 125px);
        margin-bottom: calc(0.7 * 1rem);
    }

    .Home .meet_our_team_text,
    .Home .publications_text {
        box-shadow: -1px 1px calc(0.7 * 20px) calc(0.7 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.7 * 10px);
    }


    .Home .meet_our_team h2,
    .Home .publications_text h2 {
        font-size: calc(0.7 * 2rem);
        padding-bottom: calc(0.7 * 0.5rem);
    }

    .Home .meet_our_team #meet_our_team_text_left,
    .Home .publications_text #publications_text_right {
        font-size: 0.7rem;
        padding-bottom: calc(0.7 * 1rem);
    }

    /* Fourth Section */
    .Home .fourth_section_title {
        font-size: calc(0.7 * 2rem);
        padding-bottom: calc(0.7 * 1.65vmax);
    }

    .Home #fourth_section_button {
        margin-top: calc(0.7 * 2rem);
    }

    /* Fifth Section */

    .Home .fifth_section_Title h2 {
        font-size: calc(0.7 * 2rem);
        padding-bottom: calc(0.7 * 1.65vmax);
        margin-bottom: calc(0.7 * 1rem);
    }

    .Home .fifth_section_texts {
        gap: calc(0.7 * 15rem);
    }

    .Home .fifth_section_text_left,
    .Home .fifth_section_text_right {
        box-shadow: -1px 1px calc(0.7 * 20px) calc(0.7 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.7 * 10px);
    }

    .Home .fifth_section_text_left #text_left,
    .Home .fifth_section_text_right #text_right {
        font-size: 0.7rem;
        padding-bottom: calc(0.7 * 1rem);
    }
}

@media screen and (max-width: 769px) {
    /* First Section */

    .Home .first_section2 {
        font-size: calc(0.4 * 1.25rem);
        padding-top: calc(0.4 * 3.3vmax);
    }

    /* Second Section */

    .Home .second_section_Title h2 {
        font-size: calc(0.4 * 2rem);
        padding-bottom: calc(0.4 * 1.65vma)x
    }

    /*.Home .second_section_Title h4 {
        font-size: calc(0.4 * 1.5rem);
        padding: 0px calc(0.4 * 25px) calc(0.4 * 3.3vmax) calc(0.4 * 25px);
    }*/

    .Home .Each_Section {
        padding-bottom: calc(0.4 * 2rem);
    }

    .Home .Each_Section .grid-container {
        grid-template-columns: calc(0.4 * 1fr) calc(0.4 * 1fr);
    }

    .Home .Each_Section .ResearchText {
        padding: calc(0.4 * 7.5rem);
        box-shadow: -1px 1px calc(0.4 * 20px) calc(0.4 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.4 * 10px);
        font-size: 0.5rem;
    }

    .Home .Each_Section .ResearchText p,
    .Home .Each_Section .ResearchText_right p {
        margin-top: calc(0.4 * 0.5rem);
    }

    .Home .Each_Section .ResearchText_right {
        padding: calc(0.4 * 7.5rem);
        box-shadow: -1px 1px calc(0.4 * 20px) calc(0.4 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.4 * 10px);
        font-size: 0.5rem;
    }

    /* Third Section */

    .Home .third_section {
        gap: calc(0.4 * 15rem);
    }

    .Home .meet_our_team_image,
    .Home .publications_image {
        font-size: calc(0.4 * 125px);
        margin-bottom: calc(0.4 * 1rem);
    }

    .Home .meet_our_team_text,
    .Home .publications_text {
        box-shadow: -1px 1px calc(0.4 * 20px) calc(0.4 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.4 * 10px);
    }


    .Home .meet_our_team h2,
    .Home .publications_text h2 {
        font-size: calc(0.4 * 2rem);
        padding-bottom: calc(0.4 * 0.5rem);
    }

    .Home .meet_our_team #meet_our_team_text_left,
    .Home .publications_text #publications_text_right {
        font-size: 0.5rem;
        padding-bottom: calc(0.4 * 1rem);
    }

    /* Fourth Section */
    .Home .fourth_section_title {
        font-size: calc(0.4 * 2rem);
        padding-bottom: calc(0.4 * 1.65vmax);
    }

    .Home #fourth_section_button {
        margin-top: calc(0.4 * 2rem);
    }

    /* Fifth Section */

    .Home .fifth_section_Title h2 {
        font-size: calc(0.4 * 2rem);
        padding-bottom: calc(0.4 * 1.65vmax);
        margin-bottom: calc(0.4 * 1rem);
    }

    .Home .fifth_section_texts {
        gap: calc(0.4 * 15rem);
    }

    .Home .fifth_section_text_left,
    .Home .fifth_section_text_right {
        box-shadow: -1px 1px calc(0.4 * 20px) calc(0.4 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.4 * 10px);
    }

    .Home .fifth_section_text_left #text_left,
    .Home .fifth_section_text_right #text_right {
        font-size: 0.5rem;
        padding-bottom: calc(0.4 * 1rem);
    }
}

@media screen and (max-width: 426px) {
    /* First Section */

    .Home .first_section2 {
        font-size: calc(0.3 * 1.25rem);
        padding-top: calc(0.3 * 3.3vmax);
    }

    /* Second Section */

    .Home .second_section_Title h2 {
        font-size: calc(0.3 * 2rem);
        padding-bottom: calc(0.3 * 1.65vma)x
    }

    /*.Home .second_section_Title h4 {
        font-size: calc(0.3 * 1.5rem);
        padding: 0px calc(0.3 * 25px) calc(0.3 * 3.3vmax) calc(0.3 * 25px);
    }*/

    .Home .Each_Section {
        padding-bottom: calc(0.3 * 2rem);
    }

    .Home .Each_Section .grid-container {
        grid-template-columns: calc(0.3 * 1fr) calc(0.3 * 1fr);
    }

    .Home .Each_Section .ResearchText {
        padding: calc(0.3 * 7.5rem);
        box-shadow: -1px 1px calc(0.3 * 20px) calc(0.3 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.3 * 10px);
        font-size: 0.3rem;
    }

    .Home .Each_Section .ResearchText p,
    .Home .Each_Section .ResearchText_right p {
        margin-top: calc(0.3 * 0.5rem);
    }

    .Home .Each_Section .ResearchText_right {
        padding: calc(0.3 * 7.5rem);
        box-shadow: -1px 1px calc(0.3 * 20px) calc(0.3 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.3 * 10px);
        font-size: 0.3rem;
    }

    /* Third Section */

    .Home .third_section {
        gap: calc(0.3 * 15rem);
    }

    .Home .meet_our_team_image,
    .Home .publications_image {
        font-size: calc(0.3 * 125px);
        margin-bottom: calc(0.3 * 1rem);
    }

    .Home .meet_our_team_text,
    .Home .publications_text {
        box-shadow: -1px 1px calc(0.3 * 20px) calc(0.3 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.3 * 10px);
    }


    .Home .meet_our_team h2,
    .Home .publications_text h2 {
        font-size: calc(0.3 * 2rem);
        padding-bottom: calc(0.3 * 0.5rem);
    }

    .Home .meet_our_team #meet_our_team_text_left,
    .Home .publications_text #publications_text_right {
        font-size: 0.3rem;
        padding-bottom: calc(0.3 * 1rem);
    }

    /* Fourth Section */
    .Home .fourth_section_title {
        font-size: calc(0.3 * 2rem);
        padding-bottom: calc(0.3 * 1.65vmax);
    }

    .Home #fourth_section_button {
        margin-top: calc(0.3 * 2rem);
    }

    /* Fifth Section */

    .Home .fifth_section_Title h2 {
        font-size: calc(0.3 * 2rem);
        padding-bottom: calc(0.3 * 1.65vmax);
        margin-bottom: calc(0.3 * 1rem);
    }

    .Home .fifth_section_texts {
        gap: calc(0.3 * 15rem);
    }

    .Home .fifth_section_text_left,
    .Home .fifth_section_text_right {
        box-shadow: -1px 1px calc(0.3 * 20px) calc(0.3 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.3 * 10px);
    }

    .Home .fifth_section_text_left #text_left,
    .Home .fifth_section_text_right #text_right {
        font-size: 0.3rem;
        padding-bottom: calc(0.3 * 1rem);
    }
}