/* First Section */

.Home .first_section {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.Home .first_section video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.Home .first_section2 {
    text-align: center;
    font-size: 1.25rem;
    padding-top: 3.3vmax;
}

/* Second Section */

.Home .second_section {
    display: grid;
    gap: 5rem 10rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    grid-auto-rows: 1fr;
}

.Home .second_section_Title {
    text-align: center;
}

.Home .second_section_Title h2 {
    font-size: 2rem;
    padding-bottom: 3.3vmax;
}

.Home .second_section .research_section {
    z-index: 2;
    padding: 7%;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    color: black;
}

.Home .second_section .research_section h3 {
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: .75rem;
}

.Home .second_section .research_section p {
    text-align: center;
    text-justify: inter-word;
    line-height: 1.5;
    font-size: larger;
    padding-bottom: 1rem;
}

/*.second_section .sensing,
.second_section .human,
.second_section .nature,
.second_section .VPP {
    flex: 1;
    /* Make them take equal widths */
/*display: flex;*/
/*display: grid;
    /* Make these flex containers too */
/*flex-direction: column;
    /* Stack children vertically */
/*
}*/

/* .sensing_text,
.human_text,
.nature_text,
.VPP_text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home .sensing_text,
.Home .human_text,
.Home .nature_text,
.Home .VPP_text {
    margin: auto;
    z-index: 2;
    padding: 7%;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    color: black;
}


.Home .sensing_text h3,
.Home .human_text h3,
.Home .nature_text h3,
.Home .VPP_text h3 {
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}

.Home .sensing #sensing_text_left,
.Home .human_text #human_text_right,
.Home .nature_text #nature_text_left,
.Home .VPP_text #VPP_text_right {
    text-align: center;
    text-justify: inter-word;
    line-height: 1.5;
    font-size: larger;
    padding-bottom: 1rem;
}

 */

.Home .HomeButtons {
    justify-content: center;
    display: flex;
    margin-top: 3.3vmax;
}

/*

/*--*/

/*.Home .Each_Section {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
}

.Home .Each_Section .grid-container,
.Home .Each_Section .grid-container_right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* .Home .Each_Section .grid-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    height: 100%;
    background-color: white;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-radius: 10px;
    z-index: 0;
}

.Home .Each_Section .grid-container_right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    background-color: white;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-radius: 10px;
    z-index: 0;
} */

/*.Home .Each_Section .ResearchImage,
.Home .Each_Section .ResearchImage_right {
    flex: 3;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home .Each_Section .ResearchImage img,
.Home .Each_Section .ResearchImage_right img {
    object-fit: contain;
    /* width: 400px; */
/*
    width: 100%;
    height: 400px;
}

.Home .Each_Section .ResearchText,
.Home .Each_Section .ResearchText_right {
    flex: 7;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 3.5rem;
    z-index: 1;
    background-color: white;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.Home .Each_Section .ResearchText h2,
.Home .Each_Section .ResearchText_right h2 {
    font-size: 1.5rem;
}

.Home .Each_Section .ResearchText p,
.Home .Each_Section .ResearchText_right p {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}
*/

/* Third Section */

.Home .third_section {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.meet_our_team,
.publications {
    flex: 1;
    /* Make them take equal widths */
    display: flex;
    /* Make these flex containers too */
    flex-direction: column;
    /* Stack children vertically */
}

.meet_our_team_text,
.publications_text {
    flex-grow: 1;
    /* This will ensure the text container takes up all available space, pushing the button to the bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* This will ensure maximum space between the text and the button */
}

.Home .meet_our_team_image,
.Home .publications_image {
    color: rgb(45, 99, 83);
    font-size: 125px;
    text-align: center;
    margin-bottom: 3.3vmax;
    display: flex;
    justify-content: center;
}

.Home .meet_our_team_text,
.Home .publications_text {
    margin: auto;
    z-index: 2;
    padding: 7%;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    color: black;
}


.Home .meet_our_team h2,
.Home .publications_text h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.Home .meet_our_team #meet_our_team_text_left,
.Home .publications_text #publications_text_right {
    text-align: center;
    text-justify: inter-word;
    line-height: 1.5;
    font-size: larger;
    padding-bottom: 1rem;
}

/* Fourth Section */
.Home .fourth_section_title {
    font-size: 2rem;
    padding-bottom: 3.3vmax;
    text-align: center;
}

.Home #fourth_section_button {
    margin-top: 3.3vmax;
}

/* Fifth Section */

.Home .fifth_section {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.collaborate,
.join_the_lab {
    flex: 1;
    /* Make them take equal widths */
    display: flex;
    /* Make these flex containers too */
    flex-direction: column;
    /* Stack children vertically */
}

.collaborate_text,
.join_the_lab_text {
    flex-grow: 1;
    /* This will ensure the text container takes up all available space, pushing the button to the bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* This will ensure maximum space between the text and the button */
}

.Home .collaborate_image,
.Home .join_the_lab_image {
    color: rgb(45, 99, 83);
    font-size: 125px;
    text-align: center;
    margin-bottom: 3.3vmax;
    display: flex;
    justify-content: center;
}

.Home .collaborate_text,
.Home .join_the_lab_text {
    margin: auto;
    z-index: 2;
    padding: 7%;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    color: black;
}

.Home .collaborate #collaborate_left h2,
.Home .join_the_lab #join_the_lab_right h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.Home .collaborate #collaborate_left,
.Home .join_the_lab #join_the_lab_right {
    text-align: center;
    text-justify: inter-word;
    line-height: 1.5;
    font-size: larger;
    padding-bottom: 1rem;
}

/* .Home .fifth_section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Home .fifth_section_texts {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.Home .fifth_section_text_left,
.Home .fifth_section_text_right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
    padding: 3.5%;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: white;
    color: black;
}

.Home .fifth_section_text_left #text_left,
.Home .fifth_section_text_right #text_right {
    text-align: center;
    text-justify: inter-word;
    line-height: 1.5;
    font-size: larger;
    padding-bottom: 1rem;
} */

@media screen and (max-width: 1025px) {
    /* First Section */

    .Home .first_section video {
        border-radius: calc(0.7 * 1rem);
    }
    
    .Home .first_section2 {
        font-size: calc(0.7 * 1.25rem);
        padding-top: calc(0.7 * 3.3vmax);
    }

    /* Second Section */

    .Home .second_section {
        gap: calc(0.7 * 5rem) calc(0.7 * 10rem);
        grid-template-columns: repeat(2, 1fr);
    }

    .Home .second_section_Title h2 {
        font-size: calc(0.7 * 2rem);
        padding-bottom: calc(0.7 * 3.3vmax);
    }

    .Home .second_section .research_section {
        box-shadow: -1px 1px calc(0.7 * 20px) calc(0.7 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.7 * 10px);
    }

    .Home .second_section .research_section h3 {
        font-size: calc(0.7 * 1.25rem);
        padding-bottom: calc(0.7 * .75rem);
    }

    .Home .second_section .research_section p {
        font-size: calc(0.7 * 1rem);
        padding-bottom: calc(0.7 * 1rem);
    }

    .Home .HomeButtons {
        margin-top: calc(0.7 * 3.3vmax);
    }

    /* Third Section */

    .Home .third_section {
        gap: calc(0.7 * 10rem);
    }

    .Home .meet_our_team_image,
    .Home .publications_image {
        font-size: calc(0.7 * 125px);
        margin-bottom: calc(0.7 * 3.3vmax);
    }

    .Home .meet_our_team_text,
    .Home .publications_text {
        box-shadow: -1px 1px calc(0.7 * 20px) calc(0.7 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.7 * 10px);
    }


    .Home .meet_our_team h2,
    .Home .publications_text h2 {
        font-size: calc(0.7 * 2rem);
        padding-bottom: calc(0.7 * 0.5rem);
    }

    .Home .meet_our_team #meet_our_team_text_left,
    .Home .publications_text #publications_text_right {
        font-size: 0.7rem;
        padding-bottom: calc(0.7 * 1rem);
    }

    /* Fourth Section */
    .Home .fourth_section_title {
        font-size: calc(0.7 * 2rem);
        padding-bottom: calc(0.7 * 3.3vmax);
    }

    .Home #fourth_section_button {
        margin-top: calc(0.7 * 3.3vmax);
    }

    /* Fifth Section */

    .Home .fifth_section {
        gap: calc(0.7 * 10rem);
    }

    .Home .collaborate_image,
    .Home .join_the_lab_image {
        font-size: calc(0.7 * 125px);
        margin-bottom: calc(0.7 * 3.3vmax);
    }

    .Home .collaborate_text,
    .Home .join_the_lab_text {
        box-shadow: -1px 1px calc(0.7 * 20px) calc(0.7 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.7 * 10px);
    }

    .Home .collaborate #collaborate_left h2,
    .Home .join_the_lab #join_the_lab_right h2 {
        font-size: calc(0.7 * 2rem);
        padding-bottom: calc(0.7 * 0.5rem);
    }

    .Home .collaborate #collaborate_left,
    .Home .join_the_lab #join_the_lab_right {
        font-size: 0.7rem;
        padding-bottom: calc(0.7 * 1rem);
    }
}

@media screen and (max-width: 769px) {
    /* First Section */

    .Home .first_section video {
        border-radius: calc(0.4 * 1rem);
    }
    
    .Home .first_section2 {
        font-size: calc(0.4 * 1.25rem);
        padding-top: calc(0.4 * 3.3vmax);
    }

    /* Second Section */

    .Home .second_section {
        gap: calc(0.4 * 5rem) calc(0.4 * 10rem);
        grid-template-columns: repeat(2, 1fr);
    }

    .Home .second_section_Title h2 {
        font-size: calc(0.4 * 2rem);
        padding-bottom: calc(0.4 * 3.3vmax);
    }

    .Home .second_section .research_section {
        box-shadow: -1px 1px calc(0.4 * 20px) calc(0.4 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.4 * 10px);
    }

    .Home .second_section .research_section h3 {
        font-size: calc(0.4 * 1.25rem);
        padding-bottom: calc(0.4 * 0.75rem);
    }

    .Home .second_section .research_section p {
        font-size: calc(0.4 * 1rem);
        padding-bottom: calc(0.4 * 1rem);
    }

    .Home .HomeButtons {
        margin-top: calc(0.4 * 3.3vmax);
    }

    /* Third Section */

    .Home .third_section {
        gap: calc(0.4 * 10rem);
    }

    .Home .meet_our_team_image,
    .Home .publications_image {
        font-size: calc(0.4 * 125px);
        margin-bottom: calc(0.4 * 3.3vmax);
    }

    .Home .meet_our_team_text,
    .Home .publications_text {
        box-shadow: -1px 1px calc(0.4 * 20px) calc(0.4 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.4 * 10px);
    }


    .Home .meet_our_team h2,
    .Home .publications_text h2 {
        font-size: calc(0.4 * 2rem);
        padding-bottom: calc(0.4 * 0.5rem);
    }

    .Home .meet_our_team #meet_our_team_text_left,
    .Home .publications_text #publications_text_right {
        font-size: 0.4rem;
        padding-bottom: calc(0.4 * 1rem);
    }

    /* Fourth Section */
    .Home .fourth_section_title {
        font-size: calc(0.4 * 2rem);
        padding-bottom: calc(0.4 * 3.3vmax);
    }

    .Home #fourth_section_button {
        margin-top: calc(0.4 * 3.3vmax);
    }

    /* Fifth Section */

    .Home .fifth_section {
        gap: calc(0.4 * 10rem);
    }

    .Home .collaborate_image,
    .Home .join_the_lab_image {
        font-size: calc(0.4 * 125px);
        margin-bottom: calc(0.4 * 3.3vmax);
    }

    .Home .collaborate_text,
    .Home .join_the_lab_text {
        box-shadow: -1px 1px calc(0.4 * 20px) calc(0.4 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.4 * 10px);
    }

    .Home .collaborate #collaborate_left h2,
    .Home .join_the_lab #join_the_lab_right h2 {
        font-size: calc(0.4 * 2rem);
        padding-bottom: calc(0.4 * 0.5rem);
    }

    .Home .collaborate #collaborate_left,
    .Home .join_the_lab #join_the_lab_right {
        font-size: 0.4rem;
        padding-bottom: calc(0.4 * 1rem);
    }
}

@media screen and (max-width: 426px) {}
    /* First Section */
/*
    .Home .first_section2 {
        font-size: calc(0.3 * 1.25rem);
        padding-top: calc(0.3 * 3.3vmax);
    }
*/
    /* Second Section */
/*
    .Home .second_section {
        gap: calc(0.3 * 5rem) calc(0.3 * 10rem);
        grid-template-columns: repeat(2, 1fr);
    }

    .Home .second_section_Title h2 {
        font-size: calc(0.3 * 2rem);
        padding-bottom: calc(0.3 * 3.3vmax);
    }

    .Home .second_section .research_section {
        box-shadow: -1px 1px calc(0.3 * 20px) calc(0.3 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.3 * 10px);
    }

    .Home .second_section .research_section h3 {
        font-size: calc(0.3 * 1.25rem);
        padding-bottom: calc(0.3 * 0.75rem);
    }

    .Home .second_section .research_section p {
        font-size: calc(0.3 * 1rem);
        padding-bottom: calc(0.3 * 1rem);
    }
*/
    /* Third Section */
/*
    .Home .third_section {
        gap: calc(0.3 * 10rem);
    }

    .Home .meet_our_team_image,
    .Home .publications_image {
        font-size: calc(0.3 * 125px);
        margin-bottom: calc(0.3 * 3.3vmax);
    }

    .Home .meet_our_team_text,
    .Home .publications_text {
        box-shadow: -1px 1px calc(0.3 * 20px) calc(0.3 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.3 * 10px);
    }


    .Home .meet_our_team h2,
    .Home .publications_text h2 {
        font-size: calc(0.3 * 2rem);
        padding-bottom: calc(0.3 * 0.5rem);
    }

    .Home .meet_our_team #meet_our_team_text_left,
    .Home .publications_text #publications_text_right {
        font-size: 0.5rem;
        padding-bottom: calc(0.3 * 1rem);
    }
*/
    /* Fourth Section */
/*
    .Home .fourth_section_title {
        font-size: calc(0.3 * 2rem);
        padding-bottom: calc(0.3 * 3.3vmax);
    }

    .Home #fourth_section_button {
        margin-top: calc(0.3 * 2rem);
    }
*/
    /* Fifth Section */
/*
    .Home .fifth_section {
        gap: calc(0.3 * 10rem);
    }

    .Home .collaborate_image,
    .Home .join_the_lab_image {
        font-size: calc(0.3 * 125px);
        margin-bottom: calc(0.3 * 3.3vmax);
    }

    .Home .fifth_section .collaborate_text,
    .Home .fifth_section .join_the_lab_text {
        box-shadow: -1px 1px calc(0.3 * 20px) calc(0.3 * 9px) rgba(0, 0, 0, 0.3);
        border-radius: calc(0.3 * 10px);
    }

    .Home .collaborate #collaborate_left h2,
    .Home .join_the_lab #join_the_lab_right h2 {
        font-size: calc (0.3 * 2rem);
        padding-bottom: calc (0.3 * 0.5rem);
    }

    .Home .collaborate #collaborate_left,
    .Home .join_the_lab #join_the_lab_right {
        font-size: 0.3rem;
        padding-bottom: calc(0.3 * 1rem);
    }
}*/