/* First Section */

.IndividualPublication .first_section {
    display: flex;
    flex-direction: column;
}

.IndividualPublication .first_section .title {
    margin-bottom: 1.65vmax;
    font-size: 1rem;
}

.IndividualPublication .first_section .title h2 {
    margin-top: 1.65vmax;
    font-size: 1.5rem;
}

.IndividualPublication .first_section .title p {
    margin-top: 1.65vmax;
    font-size: 1rem;
    line-height: 2;
}


.IndividualPublication .first_section .links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.65vmax;
}

.IndividualPublication .first_section .links.noKeywords {
    margin-bottom: 0;
}

.IndividualPublication .first_section .keywords {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 1rem;
}

.IndividualPublication .first_section .keywords>* {
    background-color: rgb(45, 99, 83);
    color: white;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

/* Second Section */

.IndividualPublication .second_section {
    display: flex;
    flex-direction: row;
    gap: 3.3vmax;
}

.IndividualPublication .second_section .text {
    flex: 3;
}

.IndividualPublication .second_section .image {
    flex: 2;
}

.IndividualPublication .second_section img {
    max-width: 100%;
    height: auto;
}

.IndividualPublication .second_section .highlights {
    margin-bottom: 3.3vmax;
}

.IndividualPublication .second_section .highlights h3 {
    margin-bottom: 1.65vmax;
    text-align: left;
    font-size: 1.17rem;
}

.IndividualPublication .second_section .highlights ul li {
    list-style-position: inside;
}

.IndividualPublication .second_section .highlights ul li {
    font-size: 1rem;
}

.IndividualPublication .second_section .highlights ul li:not(:last-child) {
    margin-bottom: 0.25rem;
}

.IndividualPublication .second_section h3 {
    margin-bottom: 1.65vmax;
}

.IndividualPublication .second_section .abstract p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

/* Third Section */

.IndividualPublication .third_section {
    display: flex;
    flex-direction: column;
}

.IndividualPublication .third_section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}

.IndividualPublication .third_section .each_profile {
    display: flex;
    align-items: center;
}

.IndividualPublication .third_section .profile_image img {
    width: 124.8px;
    height: 124.8px;
    object-fit: cover;
    border-radius: 50%;
    padding: 0px;
}

.IndividualPublication .third_section .profile_data {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.IndividualPublication .third_section .profile_links {
    display: flex;
    gap: 10px;
}

.IndividualPublication .third_section .profile_icons {
    font-size: 1.5rem;
    color: black;
}

.IndividualPublication .third_section .profile_icons:hover {
    color: rgb(45, 99, 83);
}


.IndividualPublication .third_section .profile_data a {
    display: flex;
}

.IndividualPublication .third_section .profile_data h5 {
    color: rgb(45, 99, 83);
    font-size: 1rem;
}

.IndividualPublication .third_section .profile_data h5:hover {
    color: white;
    background-color: rgb(45, 99, 83);
    border-radius: 0.25rem;
}

@media screen and (max-width: 1025px) {
    /* First Section */

    .IndividualPublication .first_section .title {
        margin-bottom: calc(0.7 * 1.65vmax);
        font-size: calc(0.7 * 1.5rem);
    }

    .IndividualPublication .first_section .title h2 {
        margin-top: calc(0.7 * 1.65vmax);
        font-size: calc(0.7 * 1.5rem);
    }

    .IndividualPublication .first_section .title p {
        margin-top: calc(0.7 * 1.65vmax);
        font-size: calc(0.7 * 1rem);
    }


    .IndividualPublication .first_section .links {
        gap: calc(0.7 * 1rem);
        margin-bottom: calc(0.7 * 1.65vmax);
    }

    .IndividualPublication .first_section .keywords {
        gap: calc(0.7 * 1rem);
        font-size: calc(0.7 * 1rem);
    }

    .IndividualPublication .first_section .keywords>* {
        padding: calc(0.7 * 0.25rem);
        border-radius: calc(0.7 * 0.5rem);
    }

    /* Second Section */

    .IndividualPublication .second_section {
        gap: calc(0.7 * 3.3vmax);
    }

    .IndividualPublication .second_section .highlights {
        margin-bottom: calc(0.7 * 3.3vmax);
    }

    .IndividualPublication .second_section .highlights h3 {
        margin-bottom: calc(0.7 * 1.65vmax);
        font-size: calc(0.7 * 1.17rem);
    }

    .IndividualPublication .second_section .highlights ul li {
        font-size: calc(0.7 * 1rem);
    }

    .IndividualPublication .second_section .highlights ul li:not(:last-child) {
        margin-bottom: calc(0.7 * 0.25rem);
    }

    .IndividualPublication .second_section h3 {
        margin-bottom: calc(0.7 * 1.65vmax);
        font-size: calc(0.7 * 1.17rem);
    }

    .IndividualPublication .second_section .abstract p {
        font-size: calc(0.7 * 1rem);
    }

    /* Third Section */

    .IndividualPublication .third_section {
        gap: calc(0.7 * 20px);
    }

    .IndividualPublication .third_section .profile_image img {
        width: calc(0.7 * 124.8px);
        height: calc(0.7 * 124.8px);
    }

    .IndividualPublication .third_section .profile_data {
        margin-left: calc(0.7 * 20px);
        height: calc(0.7 * 120px);
    }

    .IndividualPublication .third_section .profile_links {
        gap: calc(0.7 * 10px);
    }

    .IndividualPublication .third_section .profile_icons {
        font-size: calc(0.7 * 1.5rem);
    }

    .IndividualPublication .third_section .profile_data h5,
    .IndividualPublication .third_section .profile_data p {
        font-size: calc(0.7 * 1rem);
    }

    .IndividualPublication .third_section .profile_data h5:hover {
        border-radius: calc(0.7 * 0.25rem);
    }
}

@media screen and (max-width: 769px) {
    /* First Section */

    .IndividualPublication .first_section .title {
        margin-bottom: calc(0.5 * 1.65vmax);
        font-size: calc(0.5 * 1.5rem);
    }

    .IndividualPublication .first_section .title h2 {
        margin-top: calc(0.5 * 1.65vmax);
        font-size: calc(0.5 * 1.5rem);
    }

    .IndividualPublication .first_section .title p {
        margin-top: calc(0.5 * 1.65vmax);
        font-size: calc(0.5 * 1rem);
    }


    .IndividualPublication .first_section .links {
        gap: calc(0.5 * 1rem);
        margin-bottom: calc(0.5 * 1.65vmax);
    }

    .IndividualPublication .first_section .keywords {
        gap: calc(0.5 * 1rem);
        font-size: calc(0.5 * 1rem);
    }

    .IndividualPublication .first_section .keywords>* {
        padding: calc(0.5 * 0.25rem);
        border-radius: calc(0.5 * 0.5rem);
    }

    /* Second Section */

    .IndividualPublication .second_section {
        gap: calc(0.5 * 3.3vmax);
    }

    .IndividualPublication .second_section .highlights {
        margin-bottom: calc(0.5 * 3.3vmax);
    }

    .IndividualPublication .second_section .highlights h3 {
        margin-bottom: calc(0.5 * 1.65vmax);
        font-size: calc(0.5 * 1.17rem);
    }

    .IndividualPublication .second_section .highlights ul li {
        font-size: calc(0.5 * 1rem);
    }

    .IndividualPublication .second_section .highlights ul li:not(:last-child) {
        margin-bottom: calc(0.5 * 0.25rem);
    }

    .IndividualPublication .second_section h3 {
        margin-bottom: calc(0.5 * 1.65vmax);
        font-size: calc(0.5 * 1.17rem);
    }

    .IndividualPublication .second_section .abstract p {
        font-size: calc(0.5 * 1rem);
    }

    /* Third Section */

    .IndividualPublication .third_section {
        gap: calc(0.5 * 20px);
    }

    .IndividualPublication .third_section .profile_image img {
        width: calc(0.5 * 124.8px);
        height: calc(0.5 * 124.8px);
    }

    .IndividualPublication .third_section .profile_data {
        margin-left: calc(0.5 * 20px);
        height: calc(0.5 * 120px);
    }

    .IndividualPublication .third_section .profile_links {
        gap: calc(0.5 * 10px);
    }

    .IndividualPublication .third_section .profile_icons {
        font-size: calc(0.5 * 1.5rem);
    }

    .IndividualPublication .third_section .profile_data h5,
    .IndividualPublication .third_section .profile_data p {
        font-size: calc(0.5 * 1rem);
    }

    .IndividualPublication .third_section .profile_data h5:hover {
        border-radius: calc(0.5 * 0.25rem);
    }
}

@media screen and (max-width: 426px) {}
    /* First Section */
/*
    .IndividualPublication .first_section .title {
        margin-bottom: calc(0.3 * 1.65vmax);
        font-size: calc(0.3 * 1.5rem);
    }

    .IndividualPublication .first_section .title h2 {
        margin-top: calc(0.3 * 1.65vmax);
        font-size: calc(0.3 * 1.5rem);
    }

    .IndividualPublication .first_section .title p {
        margin-top: calc(0.3 * 1.65vmax);
        font-size: calc(0.3 * 1rem);
    }


    .IndividualPublication .first_section .links {
        gap: calc(0.3 * 1rem);
        margin-bottom: calc(0.3 * 1.65vmax);
    }

    .IndividualPublication .first_section .keywords {
        gap: calc(0.3 * 1rem);
        font-size: calc(0.3 * 1rem);
    }

    .IndividualPublication .first_section .keywords>* {
        padding: calc(0.3 * 0.25rem);
        border-radius: calc(0.3 * 0.5rem);
    }
*/
    /* Second Section */
/*
    .IndividualPublication .second_section {
        gap: calc(0.3 * 3.3vmax);
    }

    .IndividualPublication .second_section .abstract {
        margin-bottom: calc(0.3 * 1rem);
    }

    .IndividualPublication .second_section .highlights {
        margin-bottom: calc(0.3 * 3.3vmax);
    }

    .IndividualPublication .second_section .highlights h3 {
        margin-bottom: calc(0.3 * 1.65vmax);
        font-size: calc(0.3 * 1.17rem);
    }

    .IndividualPublication .second_section .highlights ul li {
        font-size: calc(0.3 * 1rem);
    }

    .IndividualPublication .second_section .highlights ul li:not(:last-child) {
        margin-bottom: calc(0.3 * 0.25rem);
    }


    .IndividualPublication .second_section h3 {
        margin-bottom: calc(0.3 * 1.65vmax);
        font-size: calc(0.3 * 1.17rem);
    }

    .IndividualPublication .second_section .abstract p {
        font-size: calc(0.3 * 1rem);
    }
*/
    /* Third Section */
/*
    .IndividualPublication .third_section {
        gap: calc(0.3 * 20px);
    }

    .IndividualPublication .third_section .profile_image img {
        width: calc(0.3 * 124.8px);
        height: calc(0.3 * 124.8px);
    }

    .IndividualPublication .third_section .profile_data {
        margin-left: calc(0.3 * 20px);
        height: calc(0.3 * 120px);
    }

    .IndividualPublication .third_section .profile_links {
        gap: calc(0.3 * 10px);
    }

    .IndividualPublication .third_section .profile_icons {
        font-size: calc(0.3 * 1.5rem);
    }

    .IndividualPublication .third_section .profile_data h5,
    .IndividualPublication .third_section .profile_data p {
        font-size: calc(0.3 * 1rem);
    }

    .IndividualPublication .third_section .profile_data h5:hover {
        border-radius: calc(0.3 * 0.25rem);
    }
}*/