/* First Section */

.Research .first_section {
    display: flex;
    flex-direction: column;
}

.Research .first_section .title_section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3.3vmax;
}

.Research .first_section .title_section h3 {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Research .first_section .title_section h5 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
}

.Research .first_section .industry_partners {
    display: flex;
}

.Research .first_section .industry_partners a {
    flex: 1;
    margin: 25px;
    border: 3px solid rgb(45, 99, 83);
    border-radius: 50%;
    margin-bottom: 3.3vmax;
    overflow: hidden;
}

.Research .first_section .industry_partners img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Research .first_section .industry_partners a:not(:last-child) img {
    /* Everything except last child */
    scale: 0.8;
    object-fit: scale-down;
}

.Research .first_section .industry_partners a:nth-child(1) img {
    /* AWS logo */
}

.Research .first_section .industry_partners a:nth-child(2) img {
    /* Trane logo */
    scale: 1;
}

.Research .first_section .industry_partners a:nth-child(3) img {
    scale: 1.05;
}

.Research .first_section .industry_partners a:last-child img {
    /* co-innovation logo */
    scale: 0.95;
}

.Research .first_section .HomeButtons {
    display: flex;
    justify-content: center;
}

/* Second Section */

.Research .second_section .title_section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Research .second_section .themes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.Research .second_section .themes .each_theme {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
}

.Research .second_section .themes .each_theme img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.Research .second_section .themes .each_theme h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    font-size: 1.25rem;
    min-height: 50px;
    overflow: hidden;
}

.Research .second_section .themes .each_theme p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1rem;
}

/* Themes Section */

.Research .whole_theme {
    display: flex;
    flex-direction: column;
}

.Research .title h1 {
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Research .theme_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Research .whole_theme>*:not(:last-child) {
    position: relative;
    /* Needed for positioning the pseudo-element */
    margin-bottom: calc(3.3vmax + 0.25vmax);
    padding-bottom: calc(3.3vmax + 0.25vmax);
}

.Research .whole_theme>*:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 25%;
    border-bottom: 1.25px solid black;
    display: block;
}

.Research .theme_section a {
    color: rgb(45, 99, 83);
}

.Research .theme_section a:hover {
    color: white;
    background-color: rgb(45, 99, 83);
    border-radius: 0.25rem;
}

.Research .theme_section .theme_details img {
    width: 30%;
    height: auto;
    float: right;
    margin-right: 0;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.Research .theme_section:nth-child(odd) .theme_details img {
    width: 30%;
    height: auto;
    float: left;
    margin-left: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.Research .theme_section .theme_details h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.Research .theme_section .keyObjs {
    font-size: 1.75rem;
    margin-top: -1rem;
    margin-bottom: -.5rem;
}

.Research .theme_section .theme_details h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.Research .theme_section .theme_details p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.Research .theme_section .theme_deliverables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 5rem;
    margin-bottom: -.5rem;
}

.Research .theme_section .theme_deliverables p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.Research .theme_section .tool_links {
    font-size: 1rem;
}

@media screen and (max-width: 1025px) {
    /* First Section */

    .Research .first_section .title_section h1 {
        font-size: calc(0.7 * 2.5rem);
        margin-bottom: calc(0.7 * 3.3vmax);
    }

    .Research .first_section .title_section h3 {
        font-size: calc(0.7 * 1.75rem);
        margin-bottom: calc(0.7 * 2rem);
    }

    .Research .first_section .title_section h5 {
        font-size: calc(0.7 * 1.25rem);
        margin-bottom: calc(0.7 * 1rem);
    }

    .Research .first_section .industry_partners a {
        margin: calc(0.7 * 25px);
        border: calc(0.7 * 2px) solid black;
        margin-bottom: calc(0.7 * 3.3vmax);
    }

    /* Second Section */

    .Research .second_section .title_section h2 {
        font-size: calc(0.7 * 2.5rem);
        margin-bottom: calc(0.7 * 2rem);
    }

    .Research .second_section .themes {
        grid-template-columns: repeat(4, 1fr);
        gap: calc(0.7 * 4rem);
    }

    .Research .second_section .themes .each_theme {
        grid-template-rows: auto calc(0.7 * 1fr);
    }

    .Research .second_section .themes .each_theme img {
        height: calc(0.4 * 300px);
    }

    .Research .second_section .themes .each_theme h4 {
        margin-top: calc(0.7 * 1rem);
        margin-bottom: calc(0.7 * 1rem);
        font-size: calc(0.7 * 1.25rem);
        min-height: calc(0.7 * 50px);
    }

    .Research .second_section .themes .each_theme p {
        font-size: calc(0.7 * 1rem);
    }

    /* Themes Section */

    .Research .title h1 {
        font-size: calc(0.7 * 2.25rem);
        margin-bottom: calc(0.7 * 2rem);
    }

    .Research .theme_section {
        gap: calc(0.7 * 2rem);
    }

    .Research .whole_theme>*:not(:last-child) {
        margin-bottom: calc(0.7 * calc(3.3vmax + 0.5rem));
        padding-bottom: calc(0.7 * calc(3.3vmax + 0.5rem));
    }

    .Research .whole_theme>*:not(:last-child)::after {
        border-bottom: calc(0.7 * 1.25px) solid black;
    }

    .Research .theme_section a:hover {
        border-radius: calc(0.7 * 0.25rem);
    }

    .Research .theme_section .theme_details img {
        margin-left: calc(0.7 * 2rem);
    }

    .Research .theme_section:nth-child(odd) .theme_details img {
        margin-right: calc(0.7 * 2rem);
    }

    .Research .theme_section .theme_details h4 {
        font-size: calc(0.7 * 1.5rem);
        margin-bottom: calc(0.7 * 1.5rem);
    }

    .Research .theme_section .keyObjs {
        font-size: calc(0.7 * 1.75rem);
        margin-top: calc(0.7 * -1rem);
        margin-bottom: calc(0.7 * -.5rem);
    }

    .Research .theme_section .theme_details h6 {
        font-size: calc(0.7 * 1rem);
        margin-bottom: calc(0.7 * 1rem);
    }

    .Research .theme_section .theme_details p {
        font-size: calc(0.7 * 1rem);
        margin-bottom: calc(0.7 * 1rem);
    }

    .Research .theme_section .theme_deliverables {
        grid-template-columns: calc(0.7 * 1fr) calc(0.7 * 1fr);
        gap: calc(0.7 * 1rem) calc(0.7 * 5rem);
        margin-bottom: calc(0.7 * -.5rem);
    }

    .Research .theme_section .theme_deliverables p,
    .Research .theme_section .tool_links {
        font-size: calc(0.7 * 1rem);
    }
}

@media screen and (max-width: 769px) {
    /* First Section */

    .Research .first_section .title_section h1 {
        font-size: calc(0.4 * 2.5rem);
        margin-bottom: calc(0.4 * 3.3vmax);
    }

    .Research .first_section .title_section h3 {
        font-size: calc(0.4 * 1.75rem);
        margin-bottom: calc(0.4 * 2rem);
    }

    .Research .first_section .title_section h5 {
        font-size: calc(0.4 * 1.25rem);
        margin-bottom: calc(0.4 * 1rem);
    }

    .Research .first_section .industry_partners a {
        margin: calc(0.4 * 25px);
        border: calc(0.4 * 2px) solid black;
        margin-bottom: calc(0.4 * 3.3vmax);
    }

    /* Second Section */

    .Research .second_section .title_section h2 {
        font-size: calc(0.4 * 2.5rem);
        margin-bottom: calc(0.4 * 2rem);
    }

    .Research .second_section .themes {
        grid-template-columns: repeat(4, 1fr);
        gap: calc(0.4 * 4rem);
    }

    .Research .second_section .themes .each_theme {
        grid-template-rows: auto calc(0.4 * 1fr);
    }

    .Research .second_section .themes .each_theme img {
        height: calc(0.2 * 300px);
    }

    .Research .second_section .themes .each_theme h4 {
        margin-top: calc(0.4 * 1rem);
        margin-bottom: calc(0.4 * 1rem);
        font-size: calc(0.4 * 1.25rem);
        min-height: calc(0.4 * 50px);
    }

    .Research .second_section .themes .each_theme p {
        font-size: calc(0.4 * 1rem);
    }

    /* Themes Section */

    .Research .title h1 {
        font-size: calc(0.4 * 2.25rem);
        margin-bottom: calc(0.4 * 2rem);
    }

    .Research .theme_section {
        gap: calc(0.4 * 2rem);
    }

    .Research .whole_theme>*:not(:last-child) {
        margin-bottom: calc(0.4 * calc(3.3vmax + 0.5rem));
        padding-bottom: calc(0.4 * calc(3.3vmax + 0.5rem));
    }

    .Research .whole_theme>*:not(:last-child)::after {
        border-bottom: calc(0.4 * 1.25px) solid black;
    }

    .Research .theme_section a:hover {
        border-radius: calc(0.4 * 0.25rem);
    }

    .Research .theme_section .theme_details img {
        margin-left: calc(0.4 * 2rem);
    }

    .Research .theme_section:nth-child(odd) .theme_details img {
        margin-right: calc(0.4 * 2rem);
    }

    .Research .theme_section .theme_details h4 {
        font-size: calc(0.4 * 1.5rem);
        margin-bottom: calc(0.4 * 1.5rem);
    }

    .Research .theme_section .keyObjs {
        font-size: calc(0.4 * 1.75rem);
        margin-top: calc(0.4 * -1rem);
        margin-bottom: calc(0.4 * -.5rem);
    }

    .Research .theme_section .theme_details h6 {
        font-size: calc(0.4 * 1rem);
        margin-bottom: calc(0.4 * 1rem);
    }

    .Research .theme_section .theme_details p {
        font-size: calc(0.4 * 1rem);
        margin-bottom: calc(0.4 * 1rem);
    }

    .Research .theme_section .theme_deliverables {
        grid-template-columns: calc(0.4 * 1fr) calc(0.4 * 1fr);
        gap: calc(0.4 * 1rem) calc(0.4 * 5rem);
        margin-bottom: calc(0.4 * -.5rem);
    }

    .Research .theme_section .theme_deliverables p,
    .Research .theme_section .tool_links {
        font-size: calc(0.4 * 1rem);
    }
}

@media screen and (max-width: 426px) {
    /* First Section */

    .Research .first_section .title_section h1 {
        font-size: calc(0.3 * 2.5rem);
        margin-bottom: calc(0.3 * 3.3vmax);
    }

    .Research .first_section .title_section h3 {
        font-size: calc(0.3 * 1.75rem);
        margin-bottom: calc(0.3 * 2rem);
    }

    .Research .first_section .title_section h5 {
        font-size: calc(0.3 * 1.25rem);
        margin-bottom: calc(0.3 * 1rem);
    }

    .Research .first_section .industry_partners a {
        margin: calc(0.3 * 25px);
        border: calc(0.3 * 2px) solid black;
        margin-bottom: calc(0.3 * 3.3vmax);
    }

    /* Second Section */

    .Research .second_section .title_section h2 {
        font-size: calc(0.3 * 2.5rem);
        margin-bottom: calc(0.3 * 2rem);
    }

    .Research .second_section .themes {
        grid-template-columns: repeat(2, 1fr);
        gap: calc(0.3 * 4rem);
    }

    .Research .second_section .themes .each_theme {
        grid-template-rows: auto calc(0.3 * 1fr);
    }

    .Research .second_section .themes .each_theme img {
        height: calc(0.2 * 300px);
    }

    .Research .second_section .themes .each_theme h4 {
        margin-top: calc(0.3 * 1rem);
        margin-bottom: 0rem;
        font-size: calc(0.3 * 1.25rem);
        min-height: calc(0.3 * 50px);
    }

    .Research .second_section .themes .each_theme p {
        font-size: calc(0.3 * 1rem);
    }

    /* Themes Section */

    .Research .title h1 {
        font-size: calc(0.3 * 2.25rem);
        margin-bottom: calc(0.3 * 2rem);
    }

    .Research .theme_section {
        gap: calc(0.3 * 2rem);
    }

    .Research .whole_theme>*:not(:last-child) {
        margin-bottom: calc(0.3 * calc(3.3vmax + 0.5rem));
        padding-bottom: calc(0.3 * calc(3.3vmax + 0.5rem));
    }

    .Research .whole_theme>*:not(:last-child)::after {
        border-bottom: calc(0.3 * 1.25px) solid black;
    }

    .Research .theme_section a:hover {
        border-radius: calc(0.3 * 0.25rem);
    }

    .Research .theme_section .theme_details img {
        margin-left: calc(0.3 * 2rem);
    }

    .Research .theme_section:nth-child(odd) .theme_details img {
        margin-right: calc(0.3 * 2rem);
    }

    .Research .theme_section .theme_details h4 {
        font-size: calc(0.3 * 1.5rem);
        margin-bottom: calc(0.3 * 1.5rem);
    }

    .Research .theme_section .keyObjs {
        font-size: calc(0.3 * 1.75rem);
        margin-top: calc(0.3 * -1rem);
        margin-bottom: calc(0.3 * -.5rem);
    }

    .Research .theme_section .theme_details h6 {
        font-size: calc(0.3 * 1rem);
        margin-bottom: calc(0.3 * 1rem);
    }

    .Research .theme_section .theme_details p {
        font-size: calc(0.3 * 1rem);
        margin-bottom: calc(0.3 * 1rem);
    }

    .Research .theme_section .theme_deliverables {
        grid-template-columns: calc(0.3 * 1fr) calc(0.3 * 1fr);
        gap: calc(0.3 * 1rem) calc(0.3 * 5rem);
        margin-bottom: calc(0.3 * -.5rem);
    }

    .Research .theme_section .theme_deliverables p,
    .Research .theme_section .tool_links {
        font-size: calc(0.3 * 1rem);
    }
}