/* First Section */

.Research .first_section {
    display: flex;
    flex-direction: column;
}

.Research .first_section .title_section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.Research .first_section .title_section h3 {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Research .first_section .title_section h5 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
}

.Research .first_section .industry_partners {
    display: flex;
}

.Research .first_section .industry_partners a {
    flex: 1;
    margin: 25px;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 3.3vmax;
    overflow: hidden;
}

.Research .first_section .industry_partners a:nth-child(1),
.Research .first_section .industry_partners a:nth-child(3) {
    background-color: rgb(208, 187, 148);
}

.Research .first_section .industry_partners img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Research .first_section .industry_partners a:not(:last-child) img {
    /* Everything except last child */
    scale: 0.8;
    object-fit: scale-down;
}

.Research .first_section .industry_partners a:nth-child(1) img {
    /* AWS logo */
    /* transform: translateY(100px); */
}

.Research .first_section .industry_partners a:nth-child(2) img {
    /* Trane logo */
    scale: 1;
    /* transform: translateX(-5px) translateY(80px); */
}

.Research .first_section .industry_partners a:nth-child(3) img {
    /* Greenology logo */
    /* transform: translateX(8px) translateY(110px); */
    scale: 1.05;
}

.Research .first_section .industry_partners a:last-child img {
    /* co-innovation logo */
    scale: 0.95;
}

.Research .first_section .HomeButtons {
    display: flex;
    justify-content: center;
}

/* Second Section */

.Research .second_section .title_section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Research .second_section .themes {
    display: flex;
    gap: 4rem;
}

.Research .second_section .themes .each_theme {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
}

.Research .second_section .themes .each_theme img {
    width: 100%;
    height: 300px;
    object-fit: fill;
}

.Research .second_section .themes .each_theme h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    font-size: 1.25rem;
    min-height: 50px;
    overflow: hidden;
}

.Research .second_section .themes .each_theme p {
    text-align: justify;
    text-justify: inter-word;
}

/* Themes Section */

.Research .whole_theme {
    display: flex;
    flex-direction: column;
    gap: 4rem
}

.Research .title h1 {
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Research .theme_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* margin-bottom: 3rem; */
}

.Research .theme_section a {
    color: rgb(45, 99, 83);
}

.Research .theme_section a:hover {
    color: white;
    background-color: rgb(45, 99, 83);
    border-radius: 0.25rem;
}

.Research .theme_section .theme_details img {
    width: 30%;
    height: auto;
    float: right;
    margin-left: 2rem;
    margin-right: 0rem;
}

.Research .theme_section:nth-child(odd) .theme_details img {
    float: left;
    margin-left: 0;
    margin-right: 2rem;
}

.Research .theme_section .theme_details h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.Research .theme_section .keyObjs {
    font-size: 1.75rem;
    margin-top: -1rem;
    margin-bottom: -.5rem;
}

.Research .theme_section .theme_details h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.Research .theme_section .theme_details p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.Research .theme_section .theme_deliverables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 5rem;
    margin-bottom: -.5rem;
}

.Research .theme_section .theme_deliverables p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}