.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carouselImage {
    display: flex;
    align-items: left;
    justify-content: center;
    margin-bottom: .5rem;
    padding: 0rem 1rem 1rem 1rem;
    width: 75%;
    object-fit: contain;
}

.carouselDate {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
    text-align: left;
    color: gray;
    font-size: smaller;
}

.carouselLink {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
    text-align: left;
    color: rgb(45, 99, 83);
    font-size: small;
}

.carouselTitle {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    flex: 1;
    min-width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    justify-content: space-between;
}

.slide .slide_up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide .slide_down {
    display: flex;
    
}

.btn {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    transform: translateY(-175%);
    cursor: pointer;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: background-color 0.3s;
}

.btn-left {
    left: -12px;
}

.btn-right {
    right: -12px;
}

@media screen and (max-width: 1025px) {
    .carouselImage {
        margin-bottom: calc(0.7 * .5rem);
        padding: 0rem calc(0.7 * 1rem) calc(0.7 * 1rem) calc(0.7 * 1rem);
    }

    .carouselDate {
        padding: 0 calc(0.7 * 1rem);
        font-size: 0.7rem;
    }

    .carouselLink {
        padding: 0 calc(0.7 * 1rem);
        font-size: 0.7rem;
    }

    .carouselTitle {
        font-size: calc(0.7 * 1.5rem);
        padding: calc(0.7 * 0.25rem) calc(0.7 * 1rem);
    }

    .btn {
        width: calc(0.7 * 40px);
        height: calc(0.7 * 40px);
        font-size: calc(0.7 * 1.25rem);
    }

    .btn-left {
        left: calc(0.7 * -12px);
    }

    .btn-right {
        right: calc(0.7 * -12px);
    }
}

@media screen and (max-width: 769px) {
    .carouselImage {
        margin-bottom: calc(0.4 * .5rem);
        padding: 0rem calc(0.4 * 1rem) calc(0.4 * 1rem) calc(0.4 * 1rem);
    }

    .carouselDate {
        padding: 0 calc(0.4 * 1rem);
        font-size: 0.5rem;
    }

    .carouselLink {
        padding: 0 calc(0.4 * 1rem);
        font-size: 0.5rem;
    }

    .carouselTitle {
        font-size: calc(0.4 * 1.5rem);
        padding: calc(0.4 * 0.25rem) calc(0.4 * 1rem);
    }

    .btn {
        width: calc(0.4 * 40px);
        height: calc(0.4 * 40px);
        font-size: calc(0.4 * 1.25rem);
    }

    .btn-left {
        left: calc(0.4 * -12px);
    }

    .btn-right {
        right: calc(0.4 * -12px);
    }

}

/*@media screen and (max-width: 426px) {}
    .carouselImage {
        /* height: calc(0.3 * 375px); *//*
        margin-bottom: calc(0.3 * .5rem);
        padding: 0rem calc(0.3 * 1rem) calc(0.3 * 1rem) calc(0.3 * 1rem);
    }

    .carouselDate {
        padding: 0 calc(0.3 * 1rem);
        font-size: 0.3rem;
    }

    .carouselLink {
        padding: 0 calc(0.3 * 1rem);
        font-size: 0.3rem;
    }

    .carouselTitle {
        font-size: calc(0.3 * 1.5rem);
        padding: calc(0.3 * 0.25rem) calc(0.3 * 1rem);
    }

    .btn {
        width: calc(0.3 * 40px);
        height: calc(0.3 * 40px);
        font-size: calc(0.3 * 1.25rem);
    }

    .btn-left {
        left: calc(0.3 * -12px);
    }

    .btn-right {
        right: calc(0.3 * -12px);
    }
}*/