/* .navbar {
    max-width: 1600px;
} */

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    /* Semi-transparent black background */
    z-index: 2000;
    /* High z-index to ensure it covers everything */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-overlay a,
.nav-overlay-item {
    color: black;
    font-size: 1.5rem;
    padding: 10px;
    display: block;
    text-align: center;
}

.nav-overlay-sublinks {
    border-right: 2px solid rgb(45, 99, 83);
    transform: translateX(-85px);
}

.nav-overlay-sublinks>* {
    font-size: 1rem !important;
    text-align: right !important;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

body.no-scroll {
    overflow: hidden;
}

.navbar_buttons {
    display: flex;
    flex-direction: row;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    background-color: white;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.left>*,
.right>*,
#root > div > div > div.nav-overlay > a.left.overlay-left > * {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

.left,
#root > div > div > div.nav-overlay > a.left.overlay-left {
    font-size: 1.25rem;
    text-decoration: none;
}

#root > div > div > div.nav-overlay > a.left.overlay-left {
    display: flex;
}

.overlay-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2100; /* Ensure it's above the overlay content */
    padding: 0px .5rem !important;
}

.right,
.dropdown_research {
    font-size: 1rem;
    color: black;
}

.logo {
    width: clamp(40px, 5vw, 75px);
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    
}

.hamburger-icon {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    position: relative;
    transition: background 0.3s ease-out;
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease-out;
    right: 0.5px;
}

.hamburger-icon::before {
    top: -4px;
    /* Position of the top line */
}

.hamburger-icon::after {
    bottom: -4px;
    /* Position of the bottom line */
}

.right .dropdown-toggle {
    display: none;

}

@media screen and (max-width: 850px) {

    .navbar {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .right .dropdown-toggle {
        display: block;
    }

    .right>a,
    .right>.dropdown {
        display: none;
    }

    .right.active>a,
    .right.active>.dropdown {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .left,
    #root > div > div > div.nav-overlay > a.left.overlay-left {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .left {
        font-size: 0.75rem;
    }

    .nav-overlay a,
    .nav-overlay-item {
        font-size: calc(0.7*1.5rem);
        padding: calc(0.7*10px);
    }

    .nav-overlay-sublinks>* {
        font-size: calc(0.7*1rem) !important;
    }

    .nav-overlay-sublinks {
        border-right: calc(0.7*2px) solid rgb(45, 99, 83);
        transform: translateX(calc(0.7*-85px));
    }
}

a {
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: white;
    top: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content p:hover {
    background-color: rgb(45, 99, 83);
    color: white;
    border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content,
.dropdown-content.show {
    display: block;
    /* Show on hover or when .show class is present */
}

.dropdown p {
    cursor: pointer;
    /* Add this line */
}

.arrow,
.arrownav {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    vertical-align: middle;
    margin-left: 8px;
    margin-bottom: 2px;
}

@media screen and (max-width: 1025px) {
    .arrow {
        border-width: 0 calc(0.7 * 3px) calc(0.7 * 3px) 0;
        padding: calc(0.7 * 2px);
        margin-left: calc(0.7 * 8px);
        margin-bottom: calc(0.7 * 2px);
    }
}

@media screen and (max-width: 769px) {
    .arrow {
        border-width: 0 calc(0.4 * 3px) calc(0.4 * 3px) 0;
        padding: calc(0.4 * 2px);
        margin-left: calc(0.4 * 8px);
        margin-bottom: calc(0.4 * 2px);
    }
}

@media screen and (max-width: 426px) {
    .arrow {
        border-width: 0 calc(0.3 * 3px) calc(0.3 * 3px) 0;
        padding: calc(0.3 * 2px);
        margin-left: calc(0.3 * 8px);
        margin-bottom: calc(0.3 * 2px);
    }

    .arrownav {
        border-width: 0 calc(0.8 * 3px) calc(0.8 * 3px) 0;
        padding: calc(0.8 * 2px);
        margin-left: calc(0.8 * 8px);
        margin-bottom: calc(0.8 * 2px);
    }
}

.down,
.downnav {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mode {
    width: 30px;
}

#JoinButton {
    padding: 10px;
    border: 3px solid rgb(45, 99, 83);
    border-radius: 0.5rem;
    color: rgb(45, 99, 83);
    font-weight: bold;
    font-size: 1rem;
}

#JoinButton:hover {
    background-color: rgb(45, 99, 83);
    color: white;
}

@media screen and (max-width: 1025px) {
    #JoinButton {
        padding: calc(0.7 * 10px);
        border: calc(0.7 * 3px) solid rgb(45, 99, 83);
        font-size: calc(0.7 * 1rem);
        border-radius: calc(0.7 * 0.5rem);
    }
}

@media screen and (max-width: 769px) {
    #JoinButton {
        padding: calc(0.4 * 10px);
        border: calc(0.4 * 3px) solid rgb(45, 99, 83);
        font-size: calc(0.4 * 1rem);
        border-radius: calc(0.4 * 0.5rem);
    }
}

@media screen and (max-width: 426px) {
    #JoinButton {
        padding: calc(0.3 * 10px);
        border: calc(0.3 * 3px) solid rgb(45, 99, 83);
        font-size: calc(0.3 * 1rem);
        border-radius: calc(0.3 * 0.5rem);
    }
}