.NewsGrid {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

.NewsGrid .NewsPic {
    display: flex;
    justify-content: center;
}

.NewsGrid .NewsPic img {
    width: 85%;
    /* height: 375px; */
    object-fit: contain;
    margin-bottom: 0.75rem;
}

.NewsGrid .NewsSection {
    border-radius: 1rem;
}

.NewsGrid .NewsInformation .date {
    color: gray;
    font-size: smaller;
    margin-bottom: 0.25rem;
}

.NewsGrid .NewsInformation h4 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.NewsGrid .NewsInformation .content {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    color: black;
}

.NewsGrid .NewsInformation .content a {
    color: rgb(45, 99, 83);
}

.NewsGrid .NewsInformation .content a:hover {
    background-color: rgb(45, 99, 83);
    color: white;
    border-radius: 0.25rem;
}

/* .parent_wrapper .NewsGrid .highlighted-section {
    animation: highlight-section-content 2s linear;
    animation-delay: 1s;
    position: relative;
}

@keyframes highlight-section-content {
    0% {
        box-shadow: 0 0 10px 10px white;
    }

    50% {
        box-shadow: 0 0 10px 10px rgb(226,205,182);
    }

    100% {
        box-shadow: 0 0 10px 10px white;
    }
}

.parent_wrapper_orange .NewsGrid .highlighted-section {
    animation: highlight-section-content-parent-wrapper-orange 2s linear;
    animation-delay: 1s;
    position: relative;
}

@keyframes highlight-section-content-parent-wrapper-orange {
    0% {
        box-shadow: 0 0 10px 10px rgb(226,205,182);
    }

    50% {
        box-shadow: 0 0 10px 10px white;
    }

    100% {
        box-shadow: 0 0 10px 10px rgb(226,205,182);
    }
}
 */

@media screen and (max-width: 1025px) {
    .NewsGrid {
        gap: calc(0.7 * 4rem);
        grid-template-columns: repeat(3, calc(0.7 * 1fr));
    }

    .NewsGrid .NewsPic img {
        /* height: calc(0.7 * 375px); */
        margin-bottom: calc(0.7 * 0.75rem);
    }

    .NewsGrid .NewsSection {
        border-radius: calc(0.7 * 1rem);
    }

    .NewsGrid .NewsInformation .date {
        font-size: x-small;
        margin-bottom: calc(0.7 * 0.25rem);
    }

    .NewsGrid .NewsInformation h4 {
        font-size: calc(0.7 * 1.5rem);
        margin-bottom: calc(0.7 * 0.75rem);
    }

    .NewsGrid .NewsInformation .content {
        font-size: calc(0.7 * 1rem);
    }

    .NewsGrid .NewsInformation .content a:hover {
        border-radius: calc(0.7 * 0.25rem);
    }
}

@media screen and (max-width: 769px) {
    .NewsGrid {
        gap: calc(0.4 * 4rem);
        grid-template-columns: repeat(3, calc(0.4 * 1fr));
    }

    .NewsGrid .NewsPic img {
        /* height: calc(0.4 * 375px); */
        margin-bottom: calc(0.4 * 0.75rem);
    }

    .NewsGrid .NewsSection {
        border-radius: calc(0.4 * 1rem);
    }

    .NewsGrid .NewsInformation .date {
        font-size: 0.4rem;
        margin-bottom: calc(0.4 * 0.25rem);
    }

    .NewsGrid .NewsInformation h4 {
        font-size: calc(0.4 * 1.5rem);
        margin-bottom: calc(0.4 * 0.45rem);
    }

    .NewsGrid .NewsInformation .content {
        font-size: calc(0.4 * 1rem);
    }

    .NewsGrid .NewsInformation .content a:hover {
        border-radius: calc(0.4 * 0.25rem);
    }
}

@media screen and (max-width: 426px) {}
/* 
.NewsGrid {
        gap: calc(0.3 * 4rem);
        grid-template-columns: repeat(3, calc(0.3 * 1fr));
    }

    .NewsGrid .NewsPic img {
        /* height: calc(0.3 * 375px); *//*
        margin-bottom: calc(0.3 * 0.75rem);
    }

    .NewsGrid .NewsSection {
        border-radius: calc(0.3 * 1rem);
    }

    .NewsGrid .NewsInformation .date {
        font-size: 0.3rem;
        margin-bottom: calc(0.3 * 0.25rem);
    }

    .NewsGrid .NewsInformation h4 {
        font-size: calc(0.3 * 1.5rem);
        margin-bottom: calc(0.3 * 0.35rem);
    }

    .NewsGrid .NewsInformation .content {
        font-size: calc(0.3 * 1rem);
    }

    .NewsGrid .NewsInformation .content a:hover {
        border-radius: calc(0.3 * 0.25rem);
    }
}*/