.Our_Team .team-grid h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.Our_Team .team-grid h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.Our_Team .team-grid p {
    font-size: 1rem;
    margin-bottom: 3rem;
    line-height: 1.5;
}

.Our_Team .team-grid {
    display: grid;
    gap: 2.25rem;
    grid-template-columns: repeat(3, 1fr);
}

.Our_Team .team-grid>.item {
    outline: 2px solid black;
    border-radius: 2rem;
    box-shadow: 10px 10px 8px #888888;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.Our_Team .team-grid>.item:hover {
    outline: 6px solid rgb(45, 99, 83);
    border-radius: 2rem;
    box-shadow: 15px 15px 8px #888888;
}

.Our_Team .team-grid>*>a {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.Our_Team .team-grid>*>.individual-info {
    text-align: center;
    margin-top: 1.5rem;
    width: 80%;
    margin: 0px auto;
}

.Our_Team .team-grid>*>.individual-info>a {
    text-decoration: none;
    color: rgb(45, 99, 83);
}

.Our_Team .team-grid>*>.individual-info>p {
    margin-bottom: 1.5rem;
}

.Our_Team .team-grid .ProfilePic img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.Our_Team .team-grid .ProfilePic {
    text-align: center;
}

.Our_Team .team-grid img:hover,
.Our_Team .team-grid h3:hover {
    scale: 1.1;
}

#profile_buttons {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

#profile_buttons > * > p {
    margin-bottom: calc(1 * 2rem);
}

@media screen and (max-width: 1025px) {
    .Our_Team .team-grid h4 {
        font-size: calc(0.7 * 1.5rem);
        margin-bottom: calc(0.7 * 0.5rem);
    }

    .Our_Team .team-grid h6 {
        font-size: calc(0.7 * 1rem);
        margin-bottom: calc(0.7 * 0.5rem);
    }

    .Our_Team .team-grid p {
        font-size: calc(0.7 * 1rem);
        margin-bottom: calc(0.7 * 3rem);
    }

    .Our_Team .team-grid {
        gap: calc(0.7 * 2.25rem);
        grid-template-columns: repeat(3, calc(0.7 * 1fr));
    }

    .Our_Team .team-grid>.item {
        outline: calc(0.7 * 2px) solid black;
        border-radius: calc(0.7 * 2rem);
        box-shadow: calc(0.7 * 10px) calc(0.7 * 10px) calc(0.7 * 8px) #888888;
    }

    .Our_Team .team-grid>.item:hover {
        outline: calc(0.7 * 6px) solid rgb(45, 99, 83);
        border-radius: calc(0.7 * 2rem);
        box-shadow: calc(0.7 * 15px) calc(0.7 * 15px) calc(0.7 * 8px) #888888;
    }

    .Our_Team .team-grid>*>a {
        width: 60%;
        margin-top: calc(0.7 * 3rem);
        margin-bottom: calc(0.7 * 3rem);
    }

    .Our_Team .team-grid>*>.individual-info {
        margin-top: calc(0 * 1.5rem);
    }

    .Our_Team .team-grid>*>.individual-info>p {
        margin-bottom: calc(0.7 * 1.5rem);
    }

    .Our_Team .team-grid .ProfilePic img {
        border-radius: calc(0.7 * 1rem);
    }

    #profile_buttons > * > p {
        margin-bottom: calc(0.7 * 2rem);
    }
}

@media screen and (max-width: 769px) {
    .Our_Team .team-grid h4 {
        font-size: calc(0.4 * 1.5rem);
        margin-bottom: calc(0.4 * 0.5rem);
    }

    .Our_Team .team-grid h6 {
        font-size: calc(0.4 * 1rem);
        margin-bottom: calc(0.4 * 0.5rem);
    }

    .Our_Team .team-grid p {
        font-size: calc(0.4 * 1rem);
        margin-bottom: calc(0.4 * 3rem);
    }

    .Our_Team .team-grid {
        gap: calc(0.4 * 2.25rem);
        grid-template-columns: repeat(3, calc(0.4 * 1fr));
    }

    .Our_Team .team-grid>.item {
        outline: calc(0.4 * 2px) solid black;
        border-radius: calc(0.4 * 2rem);
        box-shadow: calc(0.4 * 10px) calc(0.4 * 10px) calc(0.4 * 8px) #888888;
    }

    .Our_Team .team-grid>.item:hover {
        outline: calc(0.4 * 6px) solid rgb(45, 99, 83);
        border-radius: calc(0.4 * 2rem);
        box-shadow: calc(0.4 * 15px) calc(0.4 * 15px) calc(0.4 * 8px) #888888;
    }

    .Our_Team .team-grid>*>a {
        width: 60%;
        margin-top: calc(0.4 * 3rem);
        margin-bottom: calc(0.4 * 3rem);
    }

    .Our_Team .team-grid>*>.individual-info {
        margin-top: calc(0 * 1.5rem);
    }

    .Our_Team .team-grid>*>.individual-info>p {
        margin-bottom: calc(0.4 * 1.5rem);
    }

    .Our_Team .team-grid .ProfilePic img {
        border-radius: calc(0.4 * 1rem);
    }

    #profile_buttons > * > p {
        margin-bottom: calc(0.4 * 2rem);
    }
}

@media screen and (max-width: 500px) {
    .Our_Team .team-grid h4 {
        font-size: calc(0.3 * 1.5rem);
        margin-bottom: calc(0.3 * 0.5rem);
    }
    
    .Our_Team .team-grid h6 {
        font-size: calc(0.3 * 1rem);
        margin-bottom: calc(0.3 * 0.5rem);
    }
    
    .Our_Team .team-grid p {
        font-size: calc(0.3 * 1rem);
        margin-bottom: calc(0.3 * 3rem);
    }
    
    .Our_Team .team-grid {
        gap: calc(0.3 * 2.25rem);
        grid-template-columns: repeat(2, 1fr)
    }
    
    .Our_Team .team-grid>.item {
        outline: calc(0.3 * 2px) solid black;
        border-radius: calc(0.3 * 2rem);
        box-shadow: calc(0.3 * 10px) calc(0.3 * 10px) calc(0.3 * 8px) #888888;
    }
    
    .Our_Team .team-grid>.item:hover {
        outline: calc(0.3 * 6px) solid rgb(45, 99, 83);
        border-radius: calc(0.3 * 2rem);
        box-shadow: calc(0.3 * 15px) calc(0.3 * 15px) calc(0.3 * 8px) #888888;
    }
    
    .Our_Team .team-grid>*>a {
        width: 60%;
        margin-top: calc(0.3 * 3rem);
        margin-bottom: calc(0.3 * 3rem);
    }
    
    .Our_Team .team-grid>*>.individual-info {
        margin-top: calc(0 * 1.5rem);
    }
    
    .Our_Team .team-grid>*>.individual-info>p {
        margin-bottom: calc(0.3 * 1.5rem);
    }
    
    .Our_Team .team-grid .ProfilePic img {
        border-radius: calc(0.3 * 1rem);
    }

    #profile_buttons > * > p {
        margin-bottom: calc(0.3 * 2rem);
    }
}