* {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

/* .day-mode, .night-mode,
.day-mode .arrow, .night-mode .arrow,
.day-mode .Footer, .night-mode .Footer,
.day-mode .left_text, .night-mode .left_text,
.day-mode .right_text, .night-mode .right_text,
.day-mode .mid_text, .night-mode .mid_text,
.day-mode #content_wrapper, .night-mode #content_wrapper,
.day-mode #parent_wrapper, .night-mode #parent_wrapper,
.day-mode .navbar, .night-mode .navbar,
.day-mode .navbar p, .night-mode .navbar p {
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.day-mode .navbar p, .day-mode .navbar {
    background-color: white;
    color: black;
}

.night-mode .navbar p, .night-mode .navbar {
    background-color: rgb(20, 26, 31);
    color: white;
}

.day-mode,
.day-mode .arrow,
.day-mode .Footer,
.day-mode .left_text,
.day-mode .right_text,
.day-mode .mid_text,
.day-mode #content_wrapper,
.day-mode #parent_wrapper,
.day-mode .Our_Team .prof_data .prof_links > * {
    background-color: white;
    color: black;
}

.night-mode,
.night-mode .arrow,
.night-mode .Footer,
.night-mode .left_text,
.night-mode .right_text,
.night-mode .mid_text,
.night-mode .Footer .right_text a,
.night-mode #content_wrapper,
.night-mode #parent_wrapper,
.night-mode .Our_Team .prof_data .prof_links>* {
    background-color: rgb(20, 26, 31, 0.99);
    color: white !important;
}

.day-mode .arrow {
    border-color: black;
}
  
.night-mode .arrow {
    border-color: white;
}

.nidayght-mode #footer_Button {
    color: black;
}

.night-mode #footer_Button {
    color: white;
}

.day-mode .Home .ResearchText,
.day-mode .Home .ResearchText_right,
.day-mode .Home .meet_our_team_text,
.day-mode .Home .publications_text,
.day-mode .Home .fifth_section_text_left,
.day-mode .Home .fifth_section_text_right,
.day-mode .Our_Team .item {
    color: black  !important;
    background-color: white !important;
    box-shadow: -1px 1px 20px 9px rgba(0, 0, 0, 0.3) !important;
}

.night-mode .Home .ResearchText,
.night-mode .Home .ResearchText_right,
.night-mode .Home .meet_our_team_text,
.night-mode .Home .publications_text,
.night-mode .Home .fifth_section_text_left,
.night-mode .Home .fifth_section_text_right,
.night-mode .Our_Team .item {
    color: white !important;
    background-color: rgb(20, 26, 31, 0.99) !important;
    box-shadow: -1px 1px 20px 9px rgba(255, 255, 255, 0.3) !important;
}

.day-mode .IndividualProfile .second_section .second_section_right .second_section_right_each_section .each_section_content a {
    color: black;
}

.night-mode .IndividualProfile .second_section .second_section_right .second_section_right_each_section .each_section_content a {
    color: white;
} */