* {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

.day-mode .navbar p, .day-mode .navbar {
    background-color: white;
    color: black;
}

.night-mode .navbar p, .night-mode .navbar {
    background-color: rgb(20, 26, 31);
    color: white;
}

.day-mode,
.day-mode .arrow,
.day-mode .Footer,
.day-mode .left_text,
.day-mode .right_text,
.day-mode .mid_text,
.day-mode .content_wrapper,
.day-mode .parent_wrapper {
    background-color: white;
    color: black;
    /* Add other styles for day mode */
}

.night-mode,
.night-mode .arrow,
.night-mode .Footer,
.night-mode .left_text,
.night-mode .right_text,
.night-mode .mid_text,
.night-mode .Footer .right_text a,
.night-mode .content_wrapper,
.night-mode .parent_wrapper {
    background-color: rgb(20, 26, 31, 0.99);
    color: white;
    /* Add other styles for night mode */
}

.day-mode .arrow {
    border-color: black;
}
  
.night-mode .arrow {
    border-color: white;
}

.nidayght-mode #footer_Button {
    color: black;
}

.night-mode #footer_Button {
    color: white;
}
